/**********start reset********/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	list-style-type: none;
}

h4, h5 {
	font-family: serif;
}

li {
	display: inline-block;
}
/**********end reset**********/


/**********start main content**********/
main {
	background: url("images/txture_@2x.png");
	width: 994px;
	margin: 0 auto;
	padding: 0 7px;
}

	#shadow {
		box-shadow: 0px 0 5px 3px black;
	}

/**********start header**********/
		header {
			height: 157px;
			background-color: #1a1a1a;
		}

			header img {
				display: inline-block;
				vertical-align: top;
				padding: 22px 0 0 15px;
			}

			header h2 {
				display: inline-block;
				vertical-align: top;
				width: 725px;
				padding: 34px 0 0 0;
				text-align: right;
				font-size: 15px;
			}

			header nav {
				background: linear-gradient(#515151, #1b1b1b);
				height: 42px;
				margin: 27px 0 0;
				border-bottom: 1px solid black;
			}

				header nav ul {
					margin: 0 35px 0 10px;
					padding: 8px 0;
					border-right: 1px solid #525252;
				}

				.navLinks {
					height: 25px;
					padding: 5px 17px;
					font-size: 14px;
					border-right: 1px solid #525252;
				}

					.navLinks a {
						color: #a3a3a3;
					}

					.navLinks:first-child a {
						color: white;
					}

						.navLinks span {
							color: #a3a3a3;
							font-size: 12px;
						}

					.navLinks:last-child {
						border-right: none;
					}
/**********end header**********/


/**********start top content**********/
			#topContent {
				background-color: #3b3b3b;
			}

				#topContent > img {
					width: 100%;
					height: auto;
				}

				#topContent ul {
					height: 157px;
					background-color: #1a1a1a;
					padding: 40px 0 0 22px;
				}

					.mainList {
						width: 235px;
					}

						.mainList img {
							display: inline-block;
							vertical-align: top;
						}

						.mainListWords {
							display: inline-block;
							vertical-align: top;
							width: 167px;
							margin: 0 0 0 8px;
						}

						#topContent ul li:nth-child(3) div {
							margin: 0 0 0 19px;
						}

							.mainListWords h4 {
								color: #ec7c34;
								font-size: 19px;
								font-weight: normal;
							}

							.mainListWords p {
								font-size: 12px;
								line-height: 1.5;
							}
/************end top content************/


/************start content ad************/
		#shadow > article {
			background: url("images/black_twill.png");
			height: 145px;
			padding: 38px 0 0 37px;
		}

			#adWords {
				display: inline-block;
				vertical-align: top;
				width: 778px;
			}

				#adWords h3 {
					font-size: 24px;
					font-weight: normal;
				}

				#adWords p {
					margin: 9px 100px 0 0;
					font-size: 13px;
					line-height: 1.4;
				}

			#shadow > article button {
				display: inline-block;
				vertical-align: top;
				width: 123px;
				height: 42px;
				margin: 12px 0;
				background: linear-gradient(#f09a5f,#ec7c34);
				border-radius: 5px;
				font-size: 17px;
				border: none;
			}

			#shadow > article button:hover {
				cursor: pointer;
			}
/***********end content ad**********/


/***********start portfolio**********/
		#portfolio {
			height: 380px;
			background-color: #1a1a1a;
			padding: 31px 20px;
		}

			#portfolio h4 {
				display: inline-block;
				vertical-align: top;
				font-size: 20px;
				width: 830px;
			}

			#portfolio span {
				display: inline-block;
				vertical-align: top;
			}

				#portfolio span:nth-child(2) a {
					font-size: 12px;
					font-style: italic;
					color: #ec7c34;
				}

			.portfolioItems {
				display: inline-block;
				vertical-align: top;
				width: 221px;
				padding: 22px 0;
				margin: 0 14px 0 0;
			}

			#portfolio article:nth-child(6) {
				margin-right: 0;
			}

				.portfolioItems img {
					border: 5px solid #303030;
					width: 100%;
					height: 145px;
				}

				.portfolioItems h5 {
					margin: 10px 0 8px;
					font-size: 17px;
					color: #ec7c34;
				}

				.portfolioItems p {
					font-size: 12px;
					line-height: 1.5;
				}

			#portfolio span:last-child {
				display: block;
				padding: 10px 0 0 0;
				text-align: right;
				font-size: 11px;
			}
/************end portfolio************/
/************end main content***********/
