@{
    ViewData["Title"] = "Quoting Dojo - Add a Quote!";
}
<h1>Welcome to QuotingDojo @ViewBag.name!</h1>
@if (ViewBag.Errors != null)
{
    <ul class="notif sixty center">
	@foreach(string error in ViewBag.Errors)
	{
		<li>@error</li>
	}
    </ul>
}
<form class="ninety center" action="/addQuote" method="post">
    <input type="hidden" name="user_id" value="@ViewBag.userID">
    <label class="twenty" for="quotetext">Your quote:</label>
    <textarea class="eighty" name="quotetext" rows="8" cols="80"></textarea>
    <div class="hundo" id="buttonHolder">
        <input class="btn btn-pop" type="submit" name="submit" value="Add My Quote!">
        <a class="btn btn-dflt" href="/quotes">Skip to Quotes!</a>
    </div><!-- end_of_buttonHolder-->
</form>
