@{
    ViewData["Title"] = "Quoting Dojo - Quotes";
}
@if (ViewBag.quoteShow)
{
    <h1>Here Are the Awesome Quotes!</h1>
    <div id="quoteContainer">
        @foreach (var quote in ViewBag.quotes)
        {
            <div class="seventy center quote">
                <p><em>&quot;@quote.quotetext&quot;</em></p>
                <p>&#45;@quote.user.first_name at @quote.updated_at.ToString("h:mm tt MMM dd, yyyy")</p>
                @if (ViewBag.UserId == quote.user_id)
                {
                    <p><a href="update/@quote.quoteid">update</a> / <a href="delete/@quote.quoteid">delete</a></p>
                }
            </div>
        }
    </div><!-- end_of_quoteBox-->
    <div id="buttonHolder">
        <a id="back" class="btn btn-pop center" href="/success">Enter a Quote!</a>
        <a id="logout" class="btn btn-dflt center" href="/logout">Logout</a>
    </div><!-- end_of_buttonHolder-->
}
else
{
    <h1>There Aren't Any Quotes Yet :-(</h1>
    <div id="buttonHolder">
        <a id="back" class="btn btn-pop center" href="/success">Enter a Quote!</a>
        <a id="logout" class="btn btn-dflt center" href="/logout">Logout</a>
    </div><!-- end_of_buttonHolder-->
}
