<form ng-submit="updateFriend()">
	<label class="forty" for="firstName">First Name:</label>
	<input class="sixty" type="text" name="firstName" ng-model="updateFriend.firstName" placeholder="{{friend.firstName}}">
	<label class="forty" for="lastName">Last Name:</label>
	<input class="sixty" type="text" name="lastName" ng-model="updateFriend.lastName" placeholder="{{friend.lastName}}">
	<label class="forty" for="birthday">Birthday:</label>
	<input class="sixty" type="date" name="birthday" ng-model="updateFriend.birthday" placeholder="{{friend.birthday}}">
	<input class="btn btn-pop" type="submit" name="submit" value="Create">
</form>
