<form ng-submit="createFriend()">
	<label class="forty" for="firstName">First Name:</label>
	<input class="sixty" type="text" name="firstName" ng-model="newFriend.firstName">
	<label class="forty" for="lastName">Last Name:</label>
	<input class="sixty" type="text" name="lastName" ng-model="newFriend.lastName">
	<label class="forty" for="birthday">Birthday:</label>
	<input class="sixty" type="date" name="birthday" ng-model="newFriend.birthday">
	<input class="btn btn-pop" type="submit" name="submit" value="Create">
</form>
