<form class="ninety" ng-submit="addPlayer()">
	<label class="thirty" for="name">Name:</label>
	<input id="playerCursor" class="forty" type="text" name="name" ng-model="player.name">
	<input class="btn btn-pop" type="submit" name="submit" value="Add Player">
</form>
<table class="ninety">
	<thead>
		<th class="fifty">Name <span ng-hide="order == '-name'" ng-click="changeOrder('-name')">&and;</span><span ng-show="order == '-name'" ng-click="changeOrder('name')">&or;</span></th>
		<th class="fifty">Actions</th>
	</thead>
	<tr ng-repeat="player in players | orderBy: order">
		<td>{{ player.name }}</td>
		<td><button class="btn btn-imp" type="button" name="button" ng-click="deletePlayer(player)">Remove Player</button></td>
	</tr>
</table>
