* {
	font-family: sans-serif;
}

main {
	width: 40%;
	margin: 80px auto;
	padding: 0 30px 30px;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px gray;
}

form {
	width: 100%;
	margin: 0 auto;
	padding: 0 150px;
}

label {
	display: inline-block;
	width: 40%;
	margin: 10px 0 0 ;
}

input {
	width: 20%;
}

form > input:last-child {
	display: block;
	width: 4em;
	margin: 20px 0 10px 25%;
	font-size: 1.3em;
}

.red {
	color: red;
}

.green {
	color: green;
}

.hidden {
	display: none;
}
