<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Landing page assignment for Coding Dojo's Python Syllabus using Flask"/>
		<title>Ninjas Page</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
	</head>
	<body id="dojo">
		<section id="formWrap">
			<h2>Please fill out the form below to apply to become a Ninja</h2>
			<form>
				<label>
					Name: <input type="text" name="name" placeholder="Frank Ninjaface" />
				</label>
				<label>
					Address: <input type="text" name="addy" placeholder="123 Steel Sword Ln" />
				</label>
				<label>
					City: <input type="text" name="city" placeholder="Ninjitsu City" />
				</label>
				<label>
					State: <input type="text" name="state" placeholder="Washington" />
				</label>
				<label>
					Zip: <input type="text" name="zip" placeholder="12345" />
				</label>
				<label>
					Phone: <input type="text" name="phone" placeholder="867-5309" />
				</label>
				<label>
					E-mail: <input type="text" name="email" placeholder="frank_ninjaface@hayaah.com" />
				</label>
				<label>
					Prior Ninja Status: <input type="text" name="status" placeholder="Budding Ninja" />
				</label>
			</form>
			<a href="/" class="nbutton button">Submit</a>
		</section>
	</body>
</html>
