<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Coding Dojo Python/Flask Disappearing Ninja assignment">
	<title>Disappearing Ninja</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" media="screen">
</head>
<body>
	<h1 class="ninja_hdg">{{ session['name'] }}</h1>
	<img src="{{ session['pic'] }}" alt="Ninja Pic" />
</body>
</html>
