* {
	font-family: sans-serif;
	box-sizing: border-box;
}

main {
	text-align: center;
}

h1 {
	font-size: 3em;
}

form {
	width: 30%;
	height: 20rem;
	margin: 30px auto;
	padding: 35px;
}

form p {
	font-size: 2.5em;
	color: white;
}

a > button {
	vertical-align: top;
	margin-top: 1px;
}
