<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Coding Dojo Python/Django Secrets assignment">
	{% load staticfiles %}
	<title>Secrets</title>
	<link rel="stylesheet" href="{% static 'secrets/css/css_boilerplate.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'secrets/css/styles.css' %}" media="screen">
</head>
<body>
	<main class="eighty">
		<a class="btn btn-dflt right" href="{% url 'secrets:logout' %}">Logout</a>
		<a id="seeall" class="btn btn-pop right" href="{% url 'secrets:success' page='popular' %}">See All Likes</a>
		<section class="hundo">
			<h1>Hello, {{ first_name }}!</h1>
			<form class="ninety center" action="{% url 'secrets:postsecret' %}" method="post">
				{% csrf_token %}
				<textarea id="secretbox" class="hundo" name="secret" rows="8" cols="40"></textarea>
				<input id="secretbutton" class="btn btn-pop" type="submit" name="post" value="Post">
			</form>
			<h2>Recent Secrets:</h2>
			{% load humanize %}<!--Allows naturaltime template filter-->
			{% for secret in secrets %}
				<p class="hundo">&quot;{{ secret.secret }}&quot; ({{ secret.created_at|naturaltime }})
					<em>{{ secret.likers__count }}
						{% if secret.likers__count > 1 or secret.likers__count == 0 %}
							likes
						{% elif secret.likers__count == 1 %}
							like
						{% endif %}
					</em><!--displays the number of likes and uses like or likes depending on if there are 1 vs 0/more than 1 likes-->
					{% if user_id == secret.person.id %}<!--if the user is the one who posted that particular like...display 'you posted this', allow them the option to delete the secret, and don't offer them the option to like it-->
						<span><b>You posted this</b></span>
						<a href="{% url 'secrets:delete' page='secrets' id=secret.id %}">Delete</a>
					{% else %}
						{% load like_tags %}<!--use the custom template tag created in the like_tags.py file (look in the template tags folder)-->
						{% get_like user_id secret.likers.all as liked %}<!--run the get_like tag method to determine whether or not the user had already liked the particular secret-->
						{% if liked %}<!--if they DID like it...-->
							<span><b>You liked this</b></span>
						{% else %}<!--if they didn't like it already, give them the option to-->
							<a href="{% url 'secrets:like' page='secrets' id=secret.id %}">Like</a>
						{% endif %}
					{% endif %}
				</p>
				<hr class="eighty">
			{% endfor %}
		</section>
	</main>
	<script type="text/javascript">
		var secretbox = document.getElementById('secretbox'); //puts the cursor in the text area automatically on page load
		secretbox.focus();
	</script>
</body>
</html>
